*{
    margin:0;
    padding: 0;
    list-style: none;
}

/* 배경이미지 */
body{
    background-image: url(./술게임배경.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 배경음악 */
.audio{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
}


/**---------------게임 컨테이너--------------------  */

#game-container{
    margin-top: 3rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#chance{
    height: 45px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 0, 0);
}


/* 결과창 */
#result{
    margin-top: -1.5rem;
    background-image: url('./hello.gif');
    background-position: center;
    background-size: cover;
    width: 90%;
    align-self: center;
    height:580px ;
    border: 2px ridge black;
    background-color: rgb(144, 224, 166);
    border-radius: 10px;
    line-height: 450px;
    font-size: 3rem;
    flex-wrap: wrap;
    font-weight: bold;
    font-style:oblique;
}


/* 유저 입력창 */
#user-input,button{
    text-align: center;
    height: 50px;
    width: 20%;
    align-self: center;
    border-radius: 100px;
}

#user-input{
    background-color: rgb(250, 160, 14);
    width: 40%;
    color:rgb(232, 237, 231);
    font-weight: 700;
    font-size: 25px;

}

#user-input::placeholder{
    color:rgb(255, 255, 255);
    font-size: 17px;
}


/* 도전, 재도전 버튼 영역 */
button{
    margin: 0.5px;
    font-size: 17px;
    width: 20%;
}

#play-btn{
    background-color: rgb(245, 245, 245);
    margin-top: 20px;
}

#play-btn:hover{
    background-color: rgb(70, 205, 223);
}

#reset:hover{
    background-color: tomato;
}